
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <style>
 .abc > a {color:black; font-size: 30; text-decoration:none; background-color:grey; text-transform :uppercase; margin-left:30px; margin-right:30px; margin-top:30px; }
    </style>
</head>

<body>
  <div class="abc">  
    <a href="/"> HOME  </a> &nbsp&nbsp&nbsp&nbsp
    <a href="/accounts/signup/"> SIGNUP  </a> &nbsp&nbsp&nbsp&nbsp
    <a href="/accounts/login/"> LOGIN  </a> &nbsp&nbsp&nbsp&nbsp
    <a href="#"> ABOUT US  </a> &nbsp&nbsp&nbsp&nbsp
  </div>
</body>

</html>

