{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block content %}

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  {% load account %}  {% csrf_token %}
  <style>
 .abc > a {color:black; font-size: 30; text-decoration:none; background-color:grey; text-transform :uppercase; margin-left:30px; margin-right:30px; margin-top:30px; }
  </style>
</head>

<body>
 <div>
  <hr>
    {% user_display user as user_display %}
    <h1> Hello,{{ user_display }} </h1> 
    <h5> Welcome to your profile </h5>
  </div>
  <hr>
    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    
     <div class="abc"> 

        <a href="/"> HOME  </a> &nbsp&nbsp&nbsp&nbsp
        <a href="/books/"> BOOKS  </a> &nbsp&nbsp&nbsp&nbsp
        <a href="/authors/"> AUTHORS  </a> &nbsp&nbsp&nbsp&nbsp
        <!-- <a href="/accounts/profile/"> PROFILE  </a> &nbsp&nbsp&nbsp&nbsp -->
        <!-- <a href="#"> ABOUT US  </a> &nbsp&nbsp&nbsp&nbsp -->
        <button type="submit"  style= "color:black; background-color:grey; ">{% trans 'Sign Out' %}</button>
     
     </div>
    </form> 

</body>

</html>

{% endblock %}