{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container" style="margin-top: 3%;">
      <div class="col-md-12">
        <div class="col-md-3">
          <a class="btn btn-primary" href="/"> HOME  </a> 
        </div>
        <div class="col-md-3">
          <a class="btn btn-primary" href="/books/"> BOOKS  </a>
        </div>
        <div class="col-md-3">
          <a class="btn btn-primary" href="/authors/"> AUTHORS  </a>
        </div>
        <div class="col-md-3">
          <a class="btn btn-primary" href="/cart/cartview/"> CART  </a>
        </div>
      </div>      
    </div>
    <div class="row" style="margin-top: 3%;">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>