{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <style>
    .abc > a {color:black; font-size:45px; text-decoration:none; background-color:grey; text-transform:uppercase }
    </style>
</head>

<body>
  
  <div class="abc"> 

        <a href="/"> HOME  </a> &nbsp&nbsp&nbsp&nbsp
        <a href="/books/"> BOOKS  </a> &nbsp&nbsp&nbsp&nbsp
        <a href="/authors/"> AUTHORS  </a> &nbsp&nbsp&nbsp&nbsp
        <a href="/cart/cartview/"> CART  </a> &nbsp&nbsp&nbsp&nbsp
        
  </div>
  <hr>
  <div>
    {% block content %}

    {% endblock %}  
  </div>

</body>

</html>