{% extends "books/base.html" %}
{% block content %} 

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  $("#check").on('click',function(){ 
  checkAvailability();
  })

   function checkAvailability() {
       var issue_date = document.getElementById("from").value;
       var return_date = document.getElementById("to").value;
       console.log("issue_date",issue_date)
       console.log("in func")
       $.ajax({
       url: '/check/{{book.id}}?field1='+issue_date+'&field2='+return_date , 
       type: 'GET',
       contentType: 'application/json; charset=utf-8',
       success: function (response) {
           alert(response);
       },
       error: function () {
           alert("error");
       }
   });
   }

  $("#cart").on('click',function(){ 
    add_to_cart();
  })

   function add_to_cart() {
       var issue_date = document.getElementById("from").value;
       var return_date = document.getElementById("to").value;
       var quantity = document.getElementById("quant").value;
       console.log("issue_date",issue_date)
       console.log("in func")
       $.ajax({
       url: '/cart/rent/{{book.id}}/{?field1='+issue_date+'&field2='+return_date+'&quantity='+quantity , 
       type: 'GET',
       contentType: 'application/json; charset=utf-8',
       success: function (response) {
           if (response == 'CONTINUE TO RENT')
               window.open("/cart/cartview/{{book.id}}");
           else if (response == 'BOOK NOT AVAILABLE ,BOOK IS ISSUEED FOR THE CHOSEN DATES')  
               alert(response)
          },
       error: function () {
           alert("error");
       }
   });
   }
</script>
<div class="container" style="color:white;">
  <div class="col-md-12" style="    border: 1px solid;">
    <center>
      <h2 style="background-color:grey; color:black;">{{ book.title }}</h2>
    </center>
    <div class="col-md-4">
      <img src="{{ book.figure.url }}" style="max-width: 75%; margin-bottom: 2%;" />
    </div>
    <div class="col-md-8">
      
      <div class="col-md-12">
        <div class="col-md-6">
          <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
        </div>
        <div class="col-md-6">
          <p><strong>Summary:</strong> {{ book.summary }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Daily Rental Price(in rupees):</strong> {{ book.price}}</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
        </div>
        <div class="col-md-6">
          {% if book.count > 0 %}
            <p><strong>Book Status:</strong> Available</p>
          {% else %}
            <p><strong>Book Status:</strong> Not Available</p>
          {% endif %}
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <p><strong>Imprint:</strong> {{book.imprint}}</p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row col-md-12 ">
      <center>
        <h4>To Rent This Book, Please Enter Issue and Return date.</h4>
          <form>
            {% csrf_token %} 
            <label for="from">Issue Date</label>
            <div class="form-input" style ="color: black;">
              <input type="text" id="from" name="issue_date">
            </div>
            <label for="to">Return Date</label>
            <div class="form-input" style ="color: black;">
              <input type="text" id="to" name="return_date">
            </div>

            <strong>Quantity:</strong>
            <div class="form-input"  style ="color: black;">
              <input type="number" id="quant" name= quantity id="myNumber" value="1">
            </div>
            
            <div id="ajaxcall" class="form-input" style="margin-top: 6%;">
              <button type="button" class="btn btn-primary" id="check" onclick="checkAvailability()">Check book Availability</button>&nbsp
              <button type="button" class="btn btn-primary" id="cart" onclick="add_to_cart()" style="    min-width: 25%;">Add To Cart</button>
            </div>
          </form>
        </center>
      </div>
    </div>
  </div>   
</div>
{% endblock %}
       

  
    

  





